<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>loadDB</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loadDB</servlet-name>
        <servlet-class>controllers.loadDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controllers.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingControl</servlet-name>
        <servlet-class>controllers.PagingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>controllers.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDControl</servlet-name>
        <servlet-class>controllers.CRUDControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControl</servlet-name>
        <servlet-class>controllers.UserControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartControl</servlet-name>
        <servlet-class>controllers.cartControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loadDB</servlet-name>
        <url-pattern>/loadDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingControl</servlet-name>
        <url-pattern>/paging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDControl</servlet-name>
        <url-pattern>/CRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDControl</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDControl</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControl</servlet-name>
        <url-pattern>/UserControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartControl</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
